.real-notify-preview {
    margin-top: 20px;
}

.real_notify_popup_notification {
    position: fixed;
    z-index: 9999;
}

.real_notify_popup_notification.top-left {
    top: 10px;
    left: 10px;
}

.real_notify_popup_notification.top-right {
    top: 10px;
    right: 10px;
}

.real_notify_popup_notification.bottom-left {
    bottom: 10px;
    left: 10px;
}

.real_notify_popup_notification.bottom-right {
    bottom: 10px;
    right: 10px;
}

.real_notify_popup_notification.center-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.real-notify h1,
.real-notify h2,
.real-notify h3,
.real-notify h4,
.real-notify h5,
.real-notify h6 {
  margin: 10px 0 10px;
  font-weight: bold;
  line-height: 1.2;
}

.real-notify h1 {
  font-size: 32px;
}

.real-notify h2 {
  font-size: 28px;
}

.real-notify h3 {
  font-size: 24px;
}

.real-notify h4 {
  font-size: 20px;
}

.real-notify h5 {
  font-size: 18px;
}

.real-notify h6 {
  font-size: 16px;
}

.real-notify p {
  margin: 0 0 15px;
  font-size: 16px;
}

.real-notify a {
  color: #007bff;
  text-decoration: none;
}

.real-notify a:hover {
  text-decoration: underline;
}

.real-notify ul,
.real-notify ol {
  margin: 0 0 15px 25px;
  padding: 0;
}

.real-notify li {
  margin-bottom: 10px;
}

.real-notify blockquote {
  margin: 15px 0;
  padding: 10px 20px;
  background: #f9f9f9;
  border-left: 5px solid #ccc;
}

.real-notify img {
  max-width: 100%;
  height: auto;
}

.real-notify table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}

.real-notify th,
.real-notify td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.real-notify th {
  background: #f2f2f2;
}

.notification-style1 {
  position: relative;
  display: flex;
  gap: 20px;
  align-items: center;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}

.notification-style1 img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.notification-style1 .content {
  flex-grow: 1;
}

.notification-style1 .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #888;
}

/* Responsive styles for screens 767px and below */
@media (max-width: 767px) {
  .real-notify h1 {
    font-size: 28px;
  }

  .real-notify h2 {
    font-size: 24px;
  }

  .real-notify h3 {
    font-size: 20px;
  }

  .real-notify h4 {
    font-size: 18px;
  }

  .real-notify h5 {
    font-size: 16px;
  }

  .real-notify h6 {
    font-size: 14px;
  }

  .real-notify p {
    font-size: 14px;
  }
}

/* Responsive styles for screens 480px and below */
@media (max-width: 480px) {
  .real-notify h1 {
    font-size: 24px;
  }

  .real-notify h2 {
    font-size: 20px;
  }

  .real-notify h3 {
    font-size: 18px;
  }

  .real-notify h4 {
    font-size: 16px;
  }

  .real-notify h5 {
    font-size: 14px;
  }

  .real-notify h6 {
    font-size: 12px;
  }

  .real-notify p {
    font-size: 12px;
  }

  .real-notify ul,
  .real-notify ol {
    margin-left: 15px;
  }

  .real-notify blockquote {
    padding: 10px 15px;
  }

  .notification-style1 {
    flex-direction: column;
    align-items: center;
    padding: 30px 10px 10px 10px;
  }

  .notification-style1 img {
    margin-bottom: 10px;
    margin-right: 0;
  }
}
